@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    background-image: url(../images/background.png);
    background-size: cover;
    height: 100vh;
    padding: 14rem 0 0 64rem;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    color: #FFF;
    font-family: 'Poppins';
}

span {
    font-size: 4rem;
    color: #FFF;
    font-family: 'Montserrat';
}

